@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap");

body {
  background-color: #353535;
  margin: 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-rows: 70px 750px 1px 1fr;
  grid-template-areas:
    "header"
    "slider"
    "hr"
    "horaire";
  overflow-x: hidden;
  width: 100vw;
}

.zindex {
  z-index: -1;
}

hr {
  grid-area: hr;
  opacity: 0.6;
}

li {
  align-items: center;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  grid-area: header;
  background-color: #353535;
  align-items: center;
  width: 100vw;
}

#siteTitle {
  color: #ffffff;
  font-family: Anton;
  font-size: 25px;
  margin: 0;
  width: 20vw;
  padding: 16.5px;
  padding-left: 50px;
  padding-right: 0;
  background-color: #f7d600;
}

nav,
.longnav {
  align-items: center;

  padding-left: 10px;
  padding-bottom: 0;
  display: flex;
  margin-right: 20px;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

nav .longnav a {
  text-decoration: none;
  color: #ffffff;
  font-family: Rajdhani;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  align-items: right;
  transition: 0.3s;
}

nav .longnav a:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}

.menu-container {
  transition: 0.6s ease;

  position: absolute;
  background-color: #353535;
  top: 69px;
  left: -100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-transition {
  transition: 0.3s;
  transform: translateX(100vw);
}

.menu-container-button {
  width: calc(100vw - 60px);
  padding: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: center;
}

.menu-container-button:hover {
  background-color: #454545;
}

.accueil-bottom {
  text-align: center;
  grid-area: horaire;
  display: flex;
  justify-content: space-around;
  flex-direction: space;
  width: 100vw;
}

.ab-box {
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0 0 20px;
  top: 20px;
  margin: 20px;
  margin-top: 50px;
  width: 35vw;
  height: 700px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.ab-box-content {
  margin: 0;
  margin-top: 50px;
}

.horaire {
  grid-area: hr;
}

.service {
  grid-area: sv;
}

@media screen and (max-width: 970px) {
  .accueil-bottom {
    text-align: center;
    grid-area: horaire;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hr"
      "sv";
  }
  .ab-box {
    width: 70vw;
  }

  .longnav {
    z-index: -11;
    transition: 0.3s;
  }

  #siteTitle {
    width: 65vw;
  }
}

@media screen and (max-width: 430px) {
  .accueil-bottom {
    text-align: center;
    grid-area: horaire;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hr"
      "sv";
  }
  .ab-box {
    width: 95vw;
  }
}
