@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap");

body {
  background-color: #353535;
  margin: 0;
  margin-bottom: 30px;
  width: 100vw;
  color: white;
  overflow-x: hidden;
}

li {
  align-items: center;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  grid-area: header;
  background-color: #353535;
  align-items: center;
  width: 100vw;
  box-shadow: 0 0px 15px;
  margin-bottom: 100px;
}

#siteTitle {
  color: #ffffff;
  font-family: Anton;
  font-size: 25px;
  margin: 0;
  width: 20vw;
  padding: 16.5px;
  padding-left: 50px;
  padding-right: 0;
  background-color: #f7d600;
}

nav,
.longnav {
  align-items: center;

  padding-left: 10px;
  padding-bottom: 0;
  display: flex;
  margin-right: 20px;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

nav .longnav a {
  text-decoration: none;
  color: #ffffff;
  font-family: Rajdhani;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  align-items: right;
  transition: 0.3s;
}

nav .longnav a:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}

.menu-container {
  transition: 0.6s ease;

  position: absolute;
  background-color: #353535;
  top: 69px;
  left: -100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-transition {
  transition: 0.3s;
  transform: translateX(100vw);
}

.menu-container-button {
  width: calc(100vw - 60px);
  padding: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: center;
}

.menu-container-button:hover {
  background-color: #454545;
}

.background {
  border: 2px solid;
  z-index: -3;
  height: 75vh;
  width: 100vw;
  position: absolute;
  top: 17vh;
  background: url(/img/fond-contact.jpg) no-repeat center/cover;
  filter: blur(4px);
}

#contact-title {
  text-align: center;
  font-family: sans-serif;
  color: #f7d600;
  text-shadow: 1px 1px 0 black;
  font-size: 3rem;
}

form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 35vw 1fr;
  grid-template-rows: 7vh 20vh 7vh;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
}

form input,
textarea {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  resize: none;
}

button:hover,
input[type="submit"]:hover {
  background-color: #cccccc;
}

button,
input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  border: 1px solid gray;
}

#email {
  grid-area: 1 / 2 / 2 / 3;
}
#mail-content {
  grid-area: 2 / 2 / 3 / 3;
}
#mail-submit {
  grid-area: 3 / 2 / 4 / 3;
}

#logo-box {
  /* border: 2px solid; */
  grid-area: 1 / 1 / 4 / 2;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.logo-contact {
  font-size: 5vw;
  font-family: Anton;
  position: relative;
}

#taxiphone {
  color: #f7d600;
}

#villejean {
}

#call {
  border-radius: 10px;
  width: 10vw;
  height: 7vh;
  position: relative;
  left: 11.5vw;
  top: -7vh;
}

@media screen and (max-width: 970px) {
  .longnav {
    z-index: -11;
    transition: 0.3s;
  }

  #siteTitle {
    width: 65vw;
  }
}
