@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #353535;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #353535;
  margin: 0;
  margin-bottom: 30px;
  width: 100vw;
  overflow-x: hidden;
}

li {
  align-items: center;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  grid-area: header;
  background-color: #353535;
  align-items: center;
  width: 100vw;
  box-shadow: 0 0px 15px;
  margin-bottom: 25px;
}

#siteTitle {
  color: #ffffff;
  font-family: Anton;
  font-size: 25px;
  margin: 0;
  width: 20vw;
  padding: 16.5px;
  padding-left: 50px;
  padding-right: 0;
  background-color: #f7d600;
}

nav,
.longnav {
  align-items: center;

  padding-left: 10px;
  padding-bottom: 0;
  display: flex;
  margin-right: 20px;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

nav .longnav a {
  text-decoration: none;
  color: #ffffff;
  font-family: Rajdhani;
  font-size: 25px;
  margin: 20px;
  text-align: center;
  align-items: right;
  transition: 0.3s;
}

nav .longnav a:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}

.menu-container {
  transition: 0.6s ease;

  position: absolute;
  background-color: #353535;
  top: 69px;
  left: -100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-transition {
  transition: 0.3s;
  transform: translateX(100vw);
}

.menu-container-button {
  width: calc(100vw - 60px);
  padding: 30px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: center;
}

.menu-container-button:hover {
  background-color: #454545;
}

.ventes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 0;
  padding: 0;
}

.objet {
  width: 18vw;
  height: 60vh;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vw 1fr 1fr;
  grid-template-areas:
    "img img"
    "title title"
    "price quantity";
  text-align: center;
  font-family: Rajdhani;
  font-weight: bold;
  font-size: large;
}
.title {
  grid-area: title;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
}
.price {
  grid-area: price;
  font-size: 1.6rem;
  border-right: 1px solid;
  padding-top: 2vh;
}
.quantity {
  grid-area: quantity;
  font-size: 1.6rem;

  padding-top: 2vh;
}
.img-objet {
  height: auto;
  width: 100%;
  grid-area: img;
  box-shadow: 0 0 12px;
  margin-bottom: 2vh;
}

@media screen and (max-width: 970px) {
  .longnav {
    z-index: -11;
    transition: 0.3s;
  }

  #siteTitle {
    width: 65vw;
  }

  .objet {
    width: 100vw;
    height: 80vh;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "img img"
      "title title"
      "price quantity";
    text-align: center;
    font-family: Rajdhani;
    font-weight: bold;
    font-size: large;
  }

  .img-objet {
    height: 100vw;
    width: 100%;
    grid-area: img;
    box-shadow: 0 0 12px;
    margin-bottom: 2vh;
  }
}
